* {
  max-width: 1440px;
  margin: 0;
}
body {
  background: #cff4fc;
}
.header {
  background: #087990;
  height: 295px;
}
.header-title {
  font-size: 72px;
  color: #cff4fc;
  text-align: center;
  padding: 50px;
}
.header-about_emoji {
  font-size: 21px;
  color: #cff4fc;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.found-emoji {
 margin: 10px;
 padding: 20px 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;
  gap: 20px;
  
}

.choose-emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 30px;
  height: 184px;
  width: 316px;
  background: white;
  border: solid 1px gray;
}
.choose-emoji-descripchion {
  color: black;
}
.footer {
}

.footer-made {
  text-align: center;
  color: gray;
}
