*{
  max-width: 1440px;
  margin: 0;
}
.header {
  background: #087990;
  height: 295px;
}
.header-title {
  font-size: 72px;
  color: #CFF4FC;
  text-align: center;
}
.header-about_emoji {
  font-size: 21px;
  color: #CFF4FC;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
margin-top: -30px;
}
.found-emoji {
  height: 64px;
  width: 820px;
}
.footer {
  height: 100vh;
}

.footer-made {
  text-align: center;
  color: gray;
}